/* image,
swiper,
.img-view {
	width: 750upx;
	height: 500upx;
}
.page-section-title{
	margin-top: 50upx;
}

.sign{
	padding: 15px;
}
 */
.container{
	padding: 10px 15px;
}

.cover{
	width: 100%;
}
.cover_image{
	width: 100%;
	border-radius: 5px;
-moz-box-shadow:0px 7px 14px #737373; -webkit-box-shadow:0px 7px 14px #737373; box-shadow:0px 7px 14px #737373;
	
}

.title{
	font-size: 13pt;
	font-weight: bold;
	margin: 15px 0 5px;
}
.summary{
	font-size: 9pt;
	color: #999;
}